version: "3.9"

services:

  backend:
    build: .
    container_name: django_backend
    restart: always
    command: >
      sh -c "python manage.py makemigrations &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      DB_HOST: postgres
      DB_NAME: app_db
      DB_USER: app_user
      DB_PASSWORD: app_password
      REDIS_HOST: redis
    depends_on:
      - postgres
      - redis

  celery_worker:
    build: .
    container_name: celery_worker
    restart: always
    command: celery -A para_word_count worker -l info
    volumes:
      - .:/app
    environment:
      DB_HOST: postgres
      DB_NAME: app_db
      DB_USER: app_user
      DB_PASSWORD: app_password
      REDIS_HOST: redis
    depends_on:
      - backend
      - postgres
      - redis


  celery_beat:
    build: .
    container_name: celery_beat
    restart: always
    command: celery -A para_word_count beat -l info
    volumes:
      - .:/app
    environment:
      DB_HOST: postgres
      DB_NAME: app_db
      DB_USER: app_user
      DB_PASSWORD: app_password
      REDIS_HOST: redis
    depends_on:
      - backend
      - postgres
      - redis


  postgres:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: app_db
      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: app_password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data


  redis:
    image: redis:7
    container_name: redis_server
    restart: always
    ports:
      - "6379:6379"

volumes:
  postgres_data:
